/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  column-gap: 20px;
  list-style: circle;
}

.header__links-list-item--no-bullet {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link--active {
  border-bottom: none;
}

.header__logo {
  margin-left: 36px;
  width: 148px;
}

.header__address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: start;
  max-width: 240px;
}

.telephone,
.email {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.cover {
  background: url(../images/cover.jpg) center;
  background-size: cover;
  min-height: 757px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  opacity: 60%;
  background-color: #000;
  inset: 0;
}

.cover__title {
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 30%;
  line-height: 115%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.aligned-text--left {
  align-self: start;
}

.aligned-text--center {
  align-self: center;
}

.aligned-text--right {
  align-self: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.cover__description-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 20px;
}

.cover .bet-button {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  height: 51px;
  width: 256px;
  font-size: 22px;
}

.lots {
  margin-top: 180px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
}

.lots__card-list {
}

.lots__card-list-item {
}
