/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  column-gap: 24px;
  list-style: circle;
}

.header__links-list-item--no-bullet {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  font-size: 18px;
  text-decoration: none;
}

.header__link--active {
  border-bottom: none;
}

.header__logo {
  width: 148px;
  margin-left: 36px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 18px;
}

.telephone,
.email {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background: url(../images/cover.jpg) center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text--left {
  align-self: start;
}

.aligned-text--center {
  align-self: center;
}

.aligned-text--right {
  align-self: end;
  margin-right: -30px;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.cover .bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin-top: 180px;
}

.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link,
.card {
  height: 100%;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
}

.card_type_film,
.card_type_book,
.card_type_picture {
  background-position: center;
  background-size: cover;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}

.card__title {
  z-index: 1;
  align-self: center;
  width: 254px;
  color: #fff;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  align-self: center;
  width: 254px;
  color: #fff;
  font-size: 20px;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin-top: 155px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: calc(256px - 155px);
  margin-left: 24px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 100px;
  margin-left: 24px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 264px 164px 240px;
  justify-content: space-between;
  margin-top: 180px;
  padding-bottom: 82px;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link--active {
  border-bottom: none;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
}
